<h1>hola</h1>
<ion-view view-title="Login">
    <ion-content padding="true">
        <form ng-submit="vm.login()">

            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="vm.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="vm.password">
                </label>
            </div>
            <button type="submit" class="button button-block button-positive">
            Login
            </button>
        </form>
    </ion-content>
</ion-view>