<ion-view view-title="Home">

    <ion-nav-buttons side="right">
        <button class="button button-small button-clear button-light" ng-click="vm.logout()">
            Hola {{vm.username}} <i class="icon ion-log-out"></i>
        </button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Anuncios" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-view>

                <ion-content padding="true">

                    <ion-refresher pulling-text="Pull to refresh..." pulling-icon="ion-ios-arrow-thin-down" on-refresh="vm.doRefresh()">
                    </ion-refresher>

                    <div ng-repeat="announce in vm.announces">
                        <card announce="announce" on-update="vm.changeText($event)"></card>
                    </div>

                    <ion-infinite-scroll ng-if="vm.moreData" on-infinite="vm.loadMore()" distance="1%">
                    </ion-infinite-scroll>

                </ion-content>

            </ion-view>
        </ion-tab>

        <ion-tab title="Mis anuncios" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-view>

                <ion-content padding="true">

                    <ion-refresher pulling-text="Pull to refresh..." pulling-icon="ion-ios-arrow-thin-down" on-refresh="vm.doRefresh()">
                    </ion-refresher>

                    <div ng-repeat="announce in vm.myAnnounces">
                        <card announce="announce" on-update="vm.changeText($event)"></card>
                    </div>

                </ion-content>

            </ion-view>
        </ion-tab>

    </ion-tabs>

</ion-view>