<ion-view view-title="Home">

    <ion-nav-buttons side="right">
        <button class="button button-small button-clear button-light" ng-click="vm.logout()">
            Hola {{vm.username}} <i class="icon ion-log-out"></i>
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <ion-refresher pulling-text="Pull to refresh..." pulling-icon="ion-ios-arrow-thin-down" on-refresh="vm.doRefresh()">
        </ion-refresher>

        <div ng-repeat="announce in vm.announces">
            <card announce="announce" on-update="vm.changeText($event)"></card>
        </div>

    </ion-content>
</ion-view>