<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>{{$ctrl.announce.title}}</h2>
    <p>{{$ctrl.announce.createDate | momentFormat}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://cdns3.gear4music.com/media/3/34143/1200/preview.jpg">
    <p>
      {{$ctrl.announce.text}}
    </p>
    <p>
      <a href="" class="subdued">{{$ctrl.announce.likes}} Likes</a>
      <a href="" class="subdued">{{$ctrl.announce.views}} Views</a>
    </p>
  </div>

</div>